{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Pago</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'aplicacion/css/pago.css' %}"> 
</head>

<body>
    {% csrf_token %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    {% if perms.aplicacion.add_permission %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin1' %}" style="color: white;">Administrador</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mispedidos' %}">Mis Pedidos</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'salir' %}">Cerrar Sesión</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-bg-primary" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                    {% endif %}
                </ul>
                <a class="nav-link" href="{% url 'detalleCompra' %}">
                    <img src="{% static 'aplicacion/img/carritoo.png' %}" alt="Carrito" style="width: 30px; height: 30px;">
                </a>
                <a class="nav-link" href="{% url 'perfilusuario' %}">
                    <img src="{% static 'aplicacion/img/usu.png' %}" alt="Perfil" style="width: 30px; height: 30px;">
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2>Página de Pago</h2>
        <form action="{% url "pago1" %}">
            <div class="form-group">
                <label for="card-holder-name">Nombre del Titular de la Tarjeta</label>
                <input type="text" id="card-holder-name" placeholder="Nombre y Apellido" required onkeypress="validateKeyPress(event)">
            </div>
            
            <div class="form-group">
                <label for="card-number">Número de Tarjeta</label>
                <input type="text" id="card-number" placeholder="Número de Tarjeta" required>
            </div>
            <div class="form-group">
                <label for="expiry-date">Fecha de Expiración (MM/YY)</label>
                <input type="text" id="expiry-date" placeholder="MM/YY" required>
            </div>
            <div class="form-group">
                <label for="cvc">CVC</label>
                <input type="text" id="cvc" placeholder="CVC" maxlength="3" required>
            </div>
            <div class="form-group">
                <label for="address">Dirección de Facturación</label>
                <input type="text" id="address" placeholder="Dirección de facturación" required>
            </div>
            <div>
            <button type="button" onclick="validateForm()">Pagar</button>
            <div id="data-url" data-pago-url="{% url 'pago1' %}"></div>
            </div>
            <div class="payment-icons">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="fab fa-cc-discover"></i>
            </div>
            <div id="error-message" class="error-message"></div>
            <div id="success-message" class="success-message"></div>
            <div class="btn-group" style="margin-top: 20px;">
                <a href="{% url "TiendaOnline" %}" class="btn btn-primary">Volver</a>
            </div>
        </form>
    </div>

    <script src="{% static 'aplicacion/js/pago.js' %}"></script>
    
</body>

</html>